.footer-section {
    background-color: #1B1B1C;
}
.pb-50 {
    padding-bottom: 50px;
}
.pt-65 {
    padding-top: 65px;
}
h2 {
  font-size: calc(1.325rem + .9vw);
}    
.footer-section h1 {
  color: #fff;
  display: block;
  float: left;
  font-size: 30px;
  margin-bottom: 20px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer-section h1 {
    font-size: 24px;
  }
  }