.logo {
	max-width: 148px;
	padding: 2px 0;
}
.hero-section {
	padding: 300px 0 250px;
}
.header-top {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}
.header-section {
	background-color: transparent;
	padding: 20px 0;
	z-index: 99999;
	position: absolute;
}
.hero-content h1 {
	color: #fff;
	font-size: 36px;
	font-weight: 500;
}
.hero-content h1 strong {
	font-size: 50px;
	font-weight: 700;
	margin-bottom: 30px;
	display: block;
}
.hero-content h1 span {
	display: block;
	font-size: 44px;
	text-transform: uppercase;
	margin-bottom: 20px;
	font-weight: 700;
}
.hero-content p {
	color: #fff;
	margin: 20px auto 0;
	max-width: 710px;
}
.hero-content a {
	margin-top: 40px;
	display: inline-block;
}
.overlay {
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	z-index: 1;
}
.overlay::before {
	background-color: #000;
	bottom: 0;
	content: '';
	left: 0;
	opacity: 0.2;
	position: absolute;
	right: 0;
	top: 0;
	z-index: -1;
}

.stick {
	position: fixed;
	top: 0;
	background-color: rgb(255, 255, 255);
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
	animation: drop ease 1s;
	animation-fill-mode: forwards;
	-webkit-animation: drop ease 1s;
	-webkit-animation-fill-mode: forwards;
}
@keyframes drop {
	0% {
		top: -100%;
	}
	50% {
		top: -50%;
	}
	100% {
		top: 0px;
	}
}
.stick .buy-btn {
	border: 2px solid #e26980;
	color: #e26980;
	margin-top: 3px;
}
.stick .top-btn:hover {
	color: rgb(255, 255, 255);
}
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #373737;
	font-family: 'Montserrat', sans-serif;
	margin-top: 0px;
	font-style: normal;
	font-weight: 500;
	line-height: 1.2;
}
a {
	transition: all 0.3s ease 0s;
	text-decoration: none;
}
a,
button,
input,
textarea {
	color: #999999;
	font-family: 'Montserrat', sans-serif;
	outline: medium none;
}
.Open-sans {
	font-family: 'Open Sans', sans-serif;
}
p {
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	color: #999999;
	margin-bottom: 15px;
}
.button-buy {
	text-align: center;
	background-color: transparent;
	border: none;
}
.buy-btn {
	border: 2px solid #ffffff;
	border-radius: 50px;
	color: #ffffff;
	display: block;
	font-size: 13px;
	font-weight: 500;
	height: 40px;
	line-height: 24px;
	margin-top: 0;
	padding: 6px 17px;
	text-transform: uppercase;
}
.buy-btn:hover {
	color: rgb(255, 255, 255);
	border-color: #e26980;
	background-color: #e26980;
}
.bottom-btn:hover {
	color: rgb(0, 0, 0);
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.hero-content h1 {
		font-size: 30px;
	}
	.demo-content h1 {
		font-size: 30px;
	}
	.demo-item .image i {
		height: 50px;
		line-height: 46px;
		width: 50px;
	}
	.single-feature .content p {
		font-size: 14px;
	}
	.footer-section h1 {
		font-size: 24px;
	}
}

/* Large Mobile :480px. */

@media only screen and (max-width: 767px) {
	.container {
		width: 450px;
	}
	.hero-section {
		padding: 150px 0 100px;
	}
	.hero-content h1 {
		font-size: 24px;
	}
	.hero-content h1 strong {
		font-size: 40px;
		margin-bottom: 15px;
	}
	.hero-content a {
		margin-top: 20px;
	}
	.demo-content h1 {
		font-size: 30px;
	}
	.section-title h1 {
		font-size: 30px;
	}
	.footer-section .buy-btn {
		float: left;
	}

	.bottom-btn {
		width: 130px;
		text-align: center;
		margin: 0 auto;
	}
}

/* small mobile :320px. */

@media only screen and (max-width: 479px) {
	.container {
		width: 300px;
	}
	.logo a {
		width: 125px !important;
	}
	.buy-btn {
		font-size: 11px;
		height: 34px;
		padding: 3px 8px;
		margin-top: 0;
	}
	.hero-section {
		padding: 150px 0 100px;
	}
	.hero-content h1 {
		font-size: 14px;
		line-height: 20px;
	}
	.hero-content h1 strong {
		font-size: 30px;
	}
	.hero-content p {
		font-size: 13px;
	}
	.hero-content a {
		margin-top: 20px;
	}
}
