.mb-50 {
  margin-bottom: 50px;
}
.demo-item {
  box-shadow: 0 0 15px rgb(0 0 0 / 15%);
  background-color: #fff;
  text-align: center;
}
.demo-item .image {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  display: block;
  position: relative;
  transition: all 0.3s ease 0s;
}
.demo-item .image::after {
  background-color:#e26980;
  content: "";
  display: none;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.demo-item:hover .image {
  box-shadow: 0 15px 30px rgb(0 0 0 / 15%);
  transform: translateY(-10px);
}
.demo-item:hover .image::after {
  opacity: 0.6;
}
.demo-item:hover .image i {
  opacity: 0.9;
  transform: translateY(-50%);
}
.demo-item .image img {
  width: 100%;
}
.demo-item .image i{
    border: 2px solid #fff;
    border-radius: 50%;
    color: #fff;
    display: none;
    font-size: 20px;
    height: 60px;
    left: 50%;
    line-height: 56px;
    margin-left: -30px;
    opacity: 0;
    position: absolute;
    top: 50%;
    transition: all 0.3s ease 0s;
    width: 60px;
    z-index: 9;
}
.demo-item .image i:hover{
  background-color: #ffffff;
  color: #122179;
}
.demo-item .title {
  font-size: 18px;
  margin-top: 0;
  padding: 20px 0;
  font-weight: 500;
}
.demo-item .title a {
  color: #3f3f3f;
  display: block;
  padding: 5px;
  font-weight: 500;
  font-size: 18px;
}
.demo-item .title a:hover {
  color: #e26980;
}