/* // импорт шрифта Montserrat из хранилища шрифтов google */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900|Open+Sans:300,400,600,700,800');

body-demo {
	margin: auto;
	display: block;
	background: rgb(255, 255, 255);
	background-position: absolute;
	background-repeat: no-repeat;
	color: #999999;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-style: normal;
	line-height: 24px;
}
.container {
	padding-left: 15px;
	padding-right: 15px;
	/* max-width: 1140px; */
}
/* меняет ширину столбца на 1 и 2 странице */
@media only screen and (min-width: 1200px) .container {
	/* max-width: 1200px; */
	min-width: 1200px;
}
.container {
	max-width: 1200px;
}
/* @media only screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
} */
@media only screen and (max-width: 1199px) {
	.container {
		max-width: 100%;
	}
}
.section {
	float: left;
	position: relative;
	width: 100%;
}
.pt-150 {
	padding-top: 150px;
}
.pb-100 {
	padding-bottom: 100px;
}
.row {
	margin-right: -15px;
	margin-left: -15px;
}
.row > [class*='col-'] {
	padding-right: 15px;
	padding-left: 15px;
}
/* Large Screen  */

@media only screen and (min-width: 1400px) {
}

/* Laptop Screen  */

@media only screen and (min-width: 1171px) and (max-width: 1400px) {
}

/* desktop :992px. */

@media only screen and (min-width: 992px) and (max-width: 1169px) {
	.single-feature .content p {
		font-size: 14px;
	}
}

/* Tablet :768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.hero-content h1 {
		font-size: 30px;
	}
	.demo-content h1 {
		font-size: 30px;
	}
	.demo-item .image i {
		height: 50px;
		line-height: 46px;
		width: 50px;
	}
	.single-feature .content p {
		font-size: 14px;
	}
	.footer-section h1 {
		font-size: 24px;
	}
}

/* Large Mobile :480px. */

@media only screen and (max-width: 767px) {
	.container {
		width: 450px;
	}
	.hero-section {
		padding: 150px 0 100px;
	}
	.hero-content h1 {
		font-size: 24px;
	}
	.hero-content h1 strong {
		font-size: 40px;
		margin-bottom: 15px;
	}
	.hero-content a {
		margin-top: 20px;
	}
	.demo-content h1 {
		font-size: 30px;
	}
	.section-title h1 {
		font-size: 30px;
	}
	.footer-section .buy-btn {
		float: left;
	}

	.bottom-btn {
		width: 130px;
		text-align: center;
		margin: 0 auto;
	}
}

/* small mobile :320px. */

@media only screen and (max-width: 479px) {
	.container {
		width: 300px;
	}
	.logo a {
		width: 125px !important;
	}
	.buy-btn {
		font-size: 11px;
		height: 34px;
		padding: 3px 8px;
		margin-top: 0;
	}
	.hero-section {
		padding: 150px 0 100px;
	}
	.hero-content h1 {
		font-size: 14px;
		line-height: 20px;
	}
	.hero-content h1 strong {
		font-size: 30px;
	}
	.hero-content p {
		font-size: 13px;
	}
	.hero-content a {
		margin-top: 20px;
	}
}
/*-------- Custom Margin Padding Style Css --------*/
.mt-10 {
	margin-top: 10px;
}

.mt-12 {
	margin-top: 12px !important;
}

.mt-15 {
	margin-top: 15px;
}

.mt-18 {
	margin-top: 18px !important;
}

.mt-20 {
	margin-top: 20px;
}

.mt-25 {
	margin-top: 25px;
}

.mt-30 {
	margin-top: 30px !important;
}

.mt-35 {
	margin-top: 35px;
}

.mt-40 {
	margin-top: 40px;
}

.mt-50 {
	margin-top: 50px !important;
}

.mt-55 {
	margin-top: 55px;
}

.mt-60 {
	margin-top: 60px !important;
}

.mt-65 {
	margin-top: 65px;
}

.mt-80 {
	margin-top: 80px !important;
}

.mt-70 {
	margin-top: 70px !important;
}

.mt-90 {
	margin-top: 90px !important;
}

.mt-100 {
	margin-top: 100px !important;
}

.mt-120 {
	margin-top: 120px !important;
}

@media only screen and (max-width: 1199px) {
	.mt-lg-50 {
		margin-top: 50px !important;
	}

	.mt-lg-70 {
		margin-top: 70px !important;
	}
}
@media only screen and (max-width: 991px) {
	.md-mt-0 {
		margin-top: 0 !important;
	}

	.mt-md-30 {
		margin-top: 30px !important;
	}

	.mt-md-40 {
		margin-top: 40px !important;
	}

	.mt-md-50 {
		margin-top: 50px !important;
	}

	.mt-md-60 {
		margin-top: 60px !important;
	}

	.mt-md-70 {
		margin-top: 70px !important;
	}
}
@media only screen and (max-width: 767px) {
	.sm-mt-0 {
		margin-top: 0 !important;
	}

	.mt-sm-25 {
		margin-top: 25px !important;
	}

	.mt-sm-30 {
		margin-top: 30px !important;
	}

	.mt-sm-50 {
		margin-top: 50px !important;
	}

	.mt-sm-60 {
		margin-top: 60px !important;
	}
}
@media only screen and (max-width: 575px) {
	.mt-xs-0 {
		margin-top: 0px;
	}

	.mt-xs-25 {
		margin-top: 25px !important;
	}

	.mt-xs-30 {
		margin-top: 30px !important;
	}
}
.mr-0 {
	margin-right: 0px !important;
}

.mr-10 {
	margin-right: 10px;
}

.mr-15 {
	margin-right: 15px;
}

.mr-20 {
	margin-right: 20px;
}

.mr-25 {
	margin-right: 25px;
}

.mr-30 {
	margin-right: 30px;
}

.mr-50 {
	margin-right: 50px;
}

.mr-80 {
	margin-right: 80px;
}

.mr--100 {
	margin-right: -100px;
}

@media only screen and (max-width: 991px) {
	.md-mr-0 {
		margin-right: 0 !important;
	}
}
@media only screen and (max-width: 575px) {
	.mr-xs-0 {
		margin-right: 0;
	}

	.mr-xs-15 {
		margin-right: 15;
	}
}
.mb-10 {
	margin-bottom: 10px !important;
}

.mb-15 {
	margin-bottom: 15px !important;
}

.mb-20 {
	margin-bottom: 20px !important;
}

.mb-25 {
	margin-bottom: 25px !important;
}

.mb-30 {
	margin-bottom: 30px !important;
}

.mb-35 {
	margin-bottom: 35px !important;
}

.mb-40 {
	margin-bottom: 40px !important;
}

.mb-45 {
	margin-bottom: 45px !important;
}

.mb-50 {
	margin-bottom: 50px !important;
}

.mb-55 {
	margin-bottom: 55px !important;
}

.mb-60 {
	margin-bottom: 60px !important;
}

.mb-65 {
	margin-bottom: 65px !important;
}

.mb-70 {
	margin-bottom: 70px !important;
}

.mb-80 {
	margin-bottom: 80px !important;
}

.mb-85 {
	margin-bottom: 85px !important;
}

.mb-90 {
	margin-bottom: 90px !important;
}

.mb-95 {
	margin-bottom: 95px !important;
}

.mb-100 {
	margin-bottom: 100px !important;
}

.mb-115 {
	margin-bottom: 115px !important;
}

.mb-120 {
	margin-bottom: 120px !important;
}

.mb-150 {
	margin-bottom: 150px !important;
}

.mb-438 {
	margin-bottom: 438px !important;
}

.mb-470 {
	margin-bottom: 470px !important;
}

.mb-471 {
	margin-bottom: 471px !important;
}

@media only screen and (max-width: 1199px) {
	.lg-mb-0,
	.mb-lg-0 {
		margin-bottom: 0 !important;
	}

	.mb-lg-30 {
		margin-bottom: 30px !important;
	}

	.mb-lg-40 {
		margin-bottom: 40px !important;
	}

	.mb-lg-50 {
		margin-bottom: 50px !important;
	}

	.mb-lg-70 {
		margin-bottom: 70px !important;
	}

	.mb-lg-80 {
		margin-bottom: 80px !important;
	}

	.mb-lg-90 {
		margin-bottom: 90px !important;
	}
}
@media only screen and (max-width: 991px) {
	.md-mb-0,
	.md-mb-0 {
		margin-bottom: 0px !important;
	}

	.mb-md-0 {
		margin-bottom: 0px !important;
	}

	.mb-md-10 {
		margin-bottom: 10px !important;
	}

	.mb-md-30 {
		margin-bottom: 30px !important;
	}

	.mb-md-40 {
		margin-bottom: 40px !important;
	}

	.mb-md-50 {
		margin-bottom: 50px !important;
	}

	.mb-md-60 {
		margin-bottom: 60px !important;
	}

	.mb-md-70 {
		margin-bottom: 70px !important;
	}

	.mb-md-80 {
		margin-bottom: 80px !important;
	}

	.mb-md-90 {
		margin-bottom: 90px !important;
	}
}
@media only screen and (max-width: 767px) {
	.mb-sm-0,
	.sm-mb-0 {
		margin-bottom: 0px !important;
	}

	.mb-sm-10 {
		margin-bottom: 10px !important;
	}

	.mb-sm-20 {
		margin-bottom: 20px !important;
	}

	.mb-sm-30 {
		margin-bottom: 30px !important;
	}

	.mb-sm-40 {
		margin-bottom: 40px !important;
	}

	.mb-sm-50 {
		margin-bottom: 50px !important;
	}

	.mb-sm-60 {
		margin-bottom: 60px !important;
	}

	.mb-sm-70 {
		margin-bottom: 70px !important;
	}
}
@media only screen and (max-width: 575px) {
	.mb-xs-0 {
		margin-bottom: 0 !important;
	}

	.mb-xs-30 {
		margin-bottom: 30px !important;
	}

	.mb-xs-50 {
		margin-bottom: 50px !important;
	}
}
@media only screen and (max-width: 479.98px) {
	.mb-xxs-0 {
		margin-bottom: 0 !important;
	}

	.mb-xxs-30 {
		margin-bottom: 30px !important;
	}
}
.ml-10 {
	margin-left: 10px;
}

.ml-15 {
	margin-left: 15px;
}

.ml-20 {
	margin-left: 20px;
}

.ml-25 {
	margin-left: 25px;
}

.ml-30 {
	margin-left: 30px;
}

.ml-40 {
	margin-left: 40px;
}

.ml-50 {
	margin-left: 50px !important;
}

@media only screen and (max-width: 991px) {
	.ml-md-0 {
		margin-left: 0 !important;
	}

	.md-ml-0 {
		margin-left: 0 !important;
	}
}
@media only screen and (max-width: 479.98px) {
	.ml-xxs-5 {
		margin-left: 5px !important;
	}
}
.pb-5 {
	padding-bottom: 5px !important;
}

.pb-10 {
	padding-bottom: 10px !important;
}

.pb-15 {
	padding-bottom: 15px !important;
}

.pb-20 {
	padding-bottom: 20px !important;
}

.pb-25 {
	padding-bottom: 25px !important;
}

.pb-30 {
	padding-bottom: 30px !important;
}

.pb-35 {
	padding-bottom: 35px !important;
}

.pb-40 {
	padding-bottom: 40px !important;
}

.pb-50 {
	padding-bottom: 50px !important;
}

.pb-55 {
	padding-bottom: 55px !important;
}

.pb-60 {
	padding-bottom: 60px !important;
}

.pb-70 {
	padding-bottom: 70px !important;
}

.pb-75 {
	padding-bottom: 75px !important;
}

.pb-80 {
	padding-bottom: 80px !important;
}

.pb-85 {
	padding-bottom: 85px !important;
}

.pb-90 {
	padding-bottom: 90px !important;
}

.pb-95 {
	padding-bottom: 95px !important;
}

.pb-100 {
	padding-bottom: 100px !important;
}

.pb-110 {
	padding-bottom: 110px !important;
}

.pb-115 {
	padding-bottom: 115px !important;
}

.pb-120 {
	padding-bottom: 120px !important;
}

.pb-125 {
	padding-bottom: 125px !important;
}

.pb-130 {
	padding-bottom: 130px;
}

.pb-140 {
	padding-bottom: 140px;
}

.pb-150 {
	padding-bottom: 150px;
}

.pb-160 {
	padding-bottom: 160px;
}

.pb-170 {
	padding-bottom: 170px;
}

@media only screen and (max-width: 1199px) {
	.pb-lg-10 {
		padding-bottom: 10px !important;
	}

	.pb-lg-30 {
		padding-bottom: 30px !important;
	}

	.pb-lg-70 {
		padding-bottom: 70px !important;
	}

	.pb-lg-90 {
		padding-bottom: 90px !important;
	}
}
@media only screen and (max-width: 991px) {
	.md-pb-0 {
		padding-bottom: 0 !important;
	}

	.pb-md-10 {
		padding-bottom: 10px !important;
	}

	.pb-md-20 {
		padding-bottom: 20px !important;
	}

	.pb-md-30 {
		padding-bottom: 30px !important;
	}

	.pb-md-40 {
		padding-bottom: 40px !important;
	}

	.pb-md-50 {
		padding-bottom: 50px !important;
	}

	.pb-md-60 {
		padding-bottom: 60px !important;
	}

	.pb-md-70 {
		padding-bottom: 70px !important;
	}

	.pb-md-80 {
		padding-bottom: 80px !important;
	}

	.pb-md-90 {
		padding-bottom: 90px !important;
	}

	.pb-md-100 {
		padding-bottom: 100px !important;
	}

	.pb-md-120 {
		padding-bottom: 120px !important;
	}

	.pb-md-170 {
		padding-bottom: 170px !important;
	}
}
@media only screen and (max-width: 767px) {
	.sm-pb-0 {
		padding-bottom: 0 !important;
	}

	.pb-sm-20 {
		padding-bottom: 20px !important;
	}

	.pb-sm-30 {
		padding-bottom: 30px !important;
	}

	.pb-sm-50 {
		padding-bottom: 50px !important;
	}

	.pb-sm-60 {
		padding-bottom: 60px !important;
	}

	.pb-sm-70 {
		padding-bottom: 70px !important;
	}

	.pb-sm-80 {
		padding-bottom: 80px !important;
	}

	.pb-sm-100 {
		padding-bottom: 100px !important;
	}

	.pb-sm-170 {
		padding-bottom: 170px !important;
	}
}
@media only screen and (max-width: 575px) {
	.pb-xs-80 {
		padding-bottom: 80px !important;
	}
}
.pl-0 {
	padding-left: 0;
}

.pl-10 {
	padding-left: 10px;
}

.pl-15 {
	padding-left: 15px;
}

.pl-20 {
	padding-left: 20px;
}

.pl-30 {
	padding-left: 30px;
}

.pl-40 {
	padding-left: 40px;
}

.pl-50 {
	padding-left: 50px;
}

.pl-60 {
	padding-left: 60px;
}

.pl-70 {
	padding-left: 70px;
}

.pl-100 {
	padding-left: 100px;
}

.pl-130 {
	padding-left: 130px !important;
}

@media only screen and (max-width: 1199px) {
	.pl-lg-15 {
		padding-left: 15px !important;
	}
}
@media only screen and (max-width: 991px) {
	.md-pl-0 {
		padding-left: 0 !important;
	}

	.md-pl-15 {
		padding-left: 15px !important;
	}

	.pl-md-30 {
		padding-left: 30px !important;
	}

	.pl-md-50 {
		padding-left: 50px !important;
	}
}
@media only screen and (max-width: 767px) {
	.sm-pl-0 {
		padding-left: 0 !important;
	}

	.sm-pl-15,
	.pl-sm-15 {
		padding-left: 15px !important;
	}
}
@media only screen and (max-width: 575px) {
	.xs-pl-15 {
		padding-left: 15px !important;
	}
}
@media only screen and (max-width: 479.98px) {
	.pl-xxs-0 {
		padding-left: 0 !important;
	}
}
.pt-10 {
	padding-top: 10px !important;
}

.pt-15 {
	padding-top: 15px !important;
}

.pt-20 {
	padding-top: 20px !important;
}

.pt-30 {
	padding-top: 30px !important;
}

.pt-35 {
	padding-top: 35px !important;
}

.pt-40 {
	padding-top: 40px !important;
}

.pt-50 {
	padding-top: 50px !important;
}

.pt-55 {
	padding-top: 55px !important;
}

.pt-60 {
	padding-top: 60px !important;
}

.pt-70 {
	padding-top: 70px !important;
}

.pt-80 {
	padding-top: 80px !important;
}

.pt-90 {
	padding-top: 90px !important;
}

.pt-95 {
	padding-top: 95px !important;
}

.pt-100 {
	padding-top: 100px !important;
}

.pt-110 {
	padding-top: 110px !important;
}

.pt-120 {
	padding-top: 120px !important;
}

.pt-125 {
	padding-top: 125px !important;
}

.pt-130 {
	padding-top: 130px !important;
}

.pt-140 {
	padding-top: 140px !important;
}

.pt-150 {
	padding-top: 150px !important;
}

.pt-160 {
	padding-top: 160px !important;
}

.pt-165 {
	padding-top: 165px;
}

.pt-170 {
	padding-top: 170px;
}

@media only screen and (max-width: 1199px) {
	.lg-pt-0 {
		padding-top: 0 !important;
	}

	.pt-lg-40 {
		padding-top: 40px !important;
	}
}
@media only screen and (max-width: 991px) {
	.pt-md-10 {
		padding-top: 10px !important;
	}

	.pt-md-15 {
		padding-top: 15px !important;
	}

	.pt-md-30 {
		padding-top: 30px !important;
	}

	.pt-md-40 {
		padding-top: 40px !important;
	}

	.pt-md-50 {
		padding-top: 50px !important;
	}

	.pt-md-60 {
		padding-top: 60px !important;
	}

	.pt-md-65 {
		padding-top: 65px !important;
	}

	.pt-md-70 {
		padding-top: 70px !important;
	}

	.pt-md-80 {
		padding-top: 80px !important;
	}

	.pt-md-90 {
		padding-top: 90px !important;
	}

	.pt-md-100 {
		padding-top: 100px !important;
	}

	.pt-md-120 {
		padding-top: 120px !important;
	}
}
@media only screen and (max-width: 767px) {
	.pt-sm-10 {
		padding-top: 10px !important;
	}

	.pt-sm-30 {
		padding-top: 30px !important;
	}

	.pt-sm-50 {
		padding-top: 50px !important;
	}

	.pt-sm-60 {
		padding-top: 60px !important;
	}

	.pt-sm-70 {
		padding-top: 70px !important;
	}

	.pt-sm-80 {
		padding-top: 80px !important;
	}

	.pt-sm-90 {
		padding-top: 90px !important;
	}

	.pt-sm-100 {
		padding-top: 100px !important;
	}
}
@media only screen and (max-width: 575px) {
	.pt-xs-30 {
		padding-top: 30px !important;
	}

	.pt-xs-40 {
		padding-top: 40px !important;
	}
}
.pr-0 {
	padding-right: 0;
}

.pr-10 {
	padding-right: 10px;
}

.pr-15 {
	padding-right: 15px;
}

.pr-20 {
	padding-right: 20px;
}

.pr-30 {
	padding-right: 30px;
}

.pr-40 {
	padding-right: 40px;
}

.pr-50 {
	padding-right: 50px;
}

.pr-60 {
	padding-right: 60px;
}

.pr-70 {
	padding-right: 70px;
}

.pr-80 {
	padding-right: 80px;
}

.pr-90 {
	padding-right: 90px;
}

.pr-100 {
	padding-right: 100px;
}

@media only screen and (max-width: 1199px) {
	.lg-pr-0 {
		padding-right: 0 !important;
	}

	.pr-lg-15 {
		padding-right: 15px !important;
	}
}
@media only screen and (max-width: 767px) {
	.sm-pr-0 {
		padding-right: 0 !important;
	}

	.sm-pr-15,
	.pr-sm-15 {
		padding-right: 15px !important;
	}
}
@media only screen and (max-width: 991px) {
	.md-pr-15 {
		padding-right: 15px;
	}

	.md-pl-15 {
		padding-left: 15px;
	}
}
.d-contents {
	display: contents;
}

.ml--2 {
	margin-left: -2px !important;
}

.ml-33 {
	margin-left: 33px;
}

.pt-38 {
	padding-top: 38px;
}

.pt-37 {
	padding-top: 37px;
}
.flex {
	display: flex;
}
/*
-----------------------------------------------------------------------
  Common CSS
-----------------------------------------------------------------------
*/
.container {
	padding-left: 15px;
	padding-right: 15px;
}
@media only screen and (min-width: 1200px) {
	.container {
		max-width: 1200px;
	}
}
@media only screen and (max-width: 1199px) {
	.container {
		max-width: 100%;
	}
}

.row {
	margin-right: -15px;
	margin-left: -15px;
}
.row > [class*='col-'] {
	padding-right: 15px;
	padding-left: 15px;
}

.section-title {
	margin-bottom: 51px;
}
@media only screen and (max-width: 991px) {
	.section-title {
		margin-bottom: 40px;
	}
}
.section-title .title {
	font-size: 36px;
	margin-bottom: 13px;
}
@media only screen and (max-width: 575px) {
	.section-title .title {
		font-size: 30px;
	}
}
.section-title p {
	color: #2d2d2d;
}

.bg-img {
	background: no-repeat center center;
	background-size: cover;
}
.bg-img.bg-img-top {
	background-position: top center;
}

.bg-img-cover {
	background-size: cover;
}

.site-wrapper-reveal {
	background-color: #ffffff;
	position: relative;
	overflow: hidden;
	z-index: 1;
}

.niceselect {
	float: inherit;
}
.niceselect .list {
	border-radius: 0;
	width: 100%;
}

.no-border {
	border: none !important;
}

.z-index-1 {
	z-index: 1;
}

.z-index-2 {
	z-index: 2;
}

.content-items-center {
	align-items: center;
	display: flex;
}

.justify-items-center {
	display: flex;
	justify-content: center;
}

.form-message.alert {
	margin-top: 10px;
}
.form-message.alert .btn-close {
	background-image: none;
}

.row-gutter-0 {
	margin: 0;
}
.row-gutter-0 [class*='col-'] {
	margin: 0;
	padding: 0;
}

@media only screen and (min-width: 1200px) {
	.row-gutter-80 {
		margin-right: -40px;
		margin-left: -40px;
	}
	.row-gutter-80 [class*='col'] {
		padding-left: 40px;
		padding-right: 40px;
	}
}

@media only screen and (min-width: 1200px) {
	.row-gutter-20 {
		margin-right: -10px;
		margin-left: -10px;
	}
	.row-gutter-20 [class*='col'] {
		padding-left: 10px;
		padding-right: 10px;
	}
}

.wrapper {
	overflow-x: hidden;
}
