
/* // импорт шрифта Montserrat из хранилища шрифтов google */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900|Open+Sans:300,400,600,700,800');

body {
  margin: auto;
  display: block;
  background: rgb(255, 255, 255);
  background-position: absolute;
  background-repeat: no-repeat;
  color: #999999;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1140px;
}
.section {
  float: left;
  position: relative;
  width: 100%;
}
.pt-150 {
  padding-top: 150px;
}
.pb-100 {
  padding-bottom: 100px;
}
.row {
  margin-right: -15px;
  margin-left: -15px
}
.row > [class*=col-] {
  padding-right: 15px;
  padding-left: 15px;
}